T7 DT4ES Final Submission App/Microsoft.Flow/flows/40848b08-2f63-4eb3-a792-d72f62c47e12/definition.json
{"name":"769b3bcb-a064-4c66-805b-ace539b48f3d","id":"/providers/Microsoft.Flow/flows/769b3bcb-a064-4c66-805b-ace539b48f3d","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"ImageToText","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"0c0833c3-2f52-40dc-b1d0-a0e2c4bd89de","type":"User","tenantId":"c98a79ca-5a9a-4791-a243-f06afd67464d"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-03-15T02:28:46.503147Z","connectionKeySavedTimeKey":"2024-03-15T02:28:46.503147Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"1679716c-5469-4939-91b9-688f15220234"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Image","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"API_Key":{"runAfter":{},"metadata":{"operationMetadataId":"5428e8b2-a66c-405c-afe3-9715116962e0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"API Key","type":"string","value":"e6be6f15b5764b3b98c6dcb436025de8"}]}},"URL":{"runAfter":{"API_Key":["Succeeded"]},"metadata":{"operationMetadataId":"8ed1923c-2632-49dc-be22-452e7e38528a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"URL","type":"string","value":"https://grp7imagetotext.cognitiveservices.azure.com/computervision/imageanalysis:analyze?features=read&model-version=latest&language=en&api-version=2024-02-01"}]}},"Image":{"runAfter":{"URL":["Succeeded"]},"metadata":{"operationMetadataId":"66e0fd9f-d332-4f8c-8849-f288865988f5"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Image","type":"string","value":"@triggerBody()['text']"}]}},"Compose":{"runAfter":{"Image":["Succeeded"]},"metadata":{"operationMetadataId":"dc5bf9ff-4491-46c2-b625-dccf73259a14"},"type":"Compose","inputs":"@dataUriToBinary(variables('Image'))"},"HTTP":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"4004b990-09be-425a-b799-9d8d8673549c"},"type":"Http","inputs":{"method":"POST","uri":"@variables('URL')","headers":{"Content-Type":"application/octet-stream","Ocp-Apim-Subscription-Key":"@variables('API Key')"},"body":"@outputs('Compose')"}},"Parse_JSON":{"runAfter":{"HTTP":["Succeeded"]},"metadata":{"operationMetadataId":"a042fdb3-91a9-48a2-8af3-d8962214a4ce"},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"object","properties":{"modelVersion":{"type":"string"},"metadata":{"type":"object","properties":{"width":{"type":"integer"},"height":{"type":"integer"}}},"readResult":{"type":"object","properties":{"blocks":{"type":"array","items":{"type":"object","properties":{"lines":{"type":"array","items":{"type":"object","properties":{"text":{"type":"string"},"boundingPolygon":{"type":"array","items":{"type":"object","properties":{"x":{"type":"integer"},"y":{"type":"integer"}},"required":["x","y"]}},"words":{"type":"array","items":{"type":"object","properties":{"text":{"type":"string"},"boundingPolygon":{"type":"array","items":{"type":"object","properties":{"x":{"type":"integer"},"y":{"type":"integer"}},"required":["x","y"]}},"confidence":{"type":"number"}},"required":["text","boundingPolygon","confidence"]}}},"required":["text","boundingPolygon","words"]}}},"required":["lines"]}}}}}}}},"Array":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"ea54e232-49a3-4b6d-8adc-2905ca664237"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Blocks","type":"array"}]}},"Apply_to_each":{"foreach":"@body('Parse_JSON')?['readResult']?['blocks']","actions":{"Apply_to_each_2":{"foreach":"@items('Apply_to_each')?['lines']","actions":{"Append_to_array_variable":{"runAfter":{},"metadata":{"operationMetadataId":"3c405141-3ccb-4853-a8ac-30078aaa131c"},"type":"AppendToArrayVariable","inputs":{"name":"Blocks","value":"@items('Apply_to_each_2')?['text']"}}},"runAfter":{},"metadata":{"operationMetadataId":"60f5a60e-eb35-48ad-8044-abf69c7b0347"},"type":"Foreach"}},"runAfter":{"Array":["Succeeded"]},"metadata":{"operationMetadataId":"4695c005-9e92-4cce-afed-0a2c56c8469b"},"type":"Foreach"},"Join":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"f824da28-9a0e-40e5-bbe1-0fbf0a0f0311"},"type":"Join","inputs":{"from":"@variables('Blocks')","joinWith":" "}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"d509fec8-1a14-44ee-b806-eeccc3596625"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"output":"@{outputs('Compose_2')}"},"schema":{"type":"object","properties":{"output":{"title":"Output","x-ms-dynamically-added":true,"type":"string"}}}}},"Run_script":{"runAfter":{"Join":["Succeeded"]},"metadata":{"01OASBPVEC7YBBPXP4A5DKNXGSSGCASKGG":"/Regex Function.xlsx","operationMetadataId":"7dac7859-ea7b-4aae-b291-1269ee8fa46a","tableId":null},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"RunScriptProd"},"parameters":{"source":"me","drive":"b!e5mlFfHewEKFoRjJzlOl4nVz3dup3blLnpfJnrUxvwVVa5FY8P3SRpn86qe9C8U1","file":"01OASBPVEC7YBBPXP4A5DKNXGSSGCASKGG","scriptId":"ms-officescript%3A%2F%2Fonedrive_business_itemlink%2F01OASBPVF6GLQFBPBZ4BBJ37FNOKRLX5SS","ScriptParameters/inputString":"@body('Join')","ScriptParameters/pattern":"[0-9\\.]+\\s*kg","ScriptParameters/flags":"i"},"authentication":"@parameters('$authentication')"}},"Compose_2":{"runAfter":{"Run_script":["Succeeded"]},"metadata":{"operationMetadataId":"fd4ea812-e6c3-4811-8a38-66ce9fdb1682"},"type":"Compose","inputs":"@outputs('Run_script')?['body/result'][0]"}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-e2ba2d67-dc9d-4ff2-a5a3-a1a9a2603f61","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}